*{
    margin: 0;
    padding: 0;
}

:root{
    /*Colors*/
    --dark-grey: #1E1E1E ;
    --grey:#383838;
    --light-grey:#444444;
    --light-hover-gray:#636363;

    --wight: #FFFFFF;
    
    /*Fonts*/
    --big-buttom-and-output: 400 30px/34px 'Times';
    --small-buttom: 400 16px/18px 'Times';
    --description: 400 18px/21px 'Times';

    /*Other*/
    --border-radius-small: 20px;
    --border-radius-big: 50px;
    
}

body{
    background-color:var(--dark-grey);
    text-decoration: none;
}

.Main-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Mein-content-conteiner{
    border: 1px solid var(--light-grey);
    border-radius: var( --border-radius-small);

    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 20px;

    text-align: center;
    padding: 57px 74px;
}
.Random-number-generator-button, .Sort-number-button{
    border: 1px solid var(--light-grey);
    border-radius: var(--border-radius-big);
    background-color: var(--light-grey);
    color:var(--wight);
    font:var(--big-buttom-and-output);

    padding: 32px 107px;
}
.Random-number-generator-button:hover, .Sort-number-button:hover, .dropdown-Sort-metod-buttom:hover{
    background-color: var(--light-hover-gray);
}
.Random-number-discription{
    font:var(--description);
    color:var(--wight);

    margin: 18px 0 50px;
}
.Generated-random-numbers, .Sorted-numbers{
    display: none;
    border: 1px solid var(--light-grey);
    border-radius: var(--border-radius-small);
    color:var(--wight);
    font:var(--big-buttom-and-output);

    box-sizing: border-box; 
    max-width: 500px;
    padding: 7px 44px;
    word-break:break-all;
}  
.Sort-number-coneiner{
    display: none;
    gap:35px;
    flex-direction:column;
    align-items: center;
    
} 
.dropdown-Sort-metod-buttom{
    background: var(--grey) url(list-mark.png);
    border: 1px solid var(--light-grey);
    border-radius: var(--border-radius-big);
    color: var(--wight);
    font: var(--small-buttom);

    padding: 6px 29px 6px 35px;
    text-align: center;
    width: max-content;
	box-sizing: border-box;
    text-decoration: none;
    -moz-appearance: none;
	-webkit-appearance: none;

    background-repeat: no-repeat;
    background-position: 10px;
    cursor: pointer;

}
.Generated-random-number{
    display: none;
}
.Sorted-numbers{
    display: none;
}

.dropdown-Sort-metod-content{
    position: relative;
    display: inline-block;
}
.submenu{
    background-color: var(--light-hover-gray);

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 12%);
    display: none;
    overflow: auto;
    z-index: 1;
}

.Sort-metod{
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    font:var(--small-buttom);
    color: var(--wight);
    border-bottom: 1px solid var(--grey);
}
.Sort-metod:last-child {
    border-bottom:none;
}
.Sort-metod:hover{
    background-color: var(--light-grey);
}
.show {display: block;}