*{
    margin: 0;
    padding: 0;
  }
  :root {
    /*Colors & Shadows*/

        /*kind of cyan*/
            --cyan: #5996A5;
            --cyan-dark: #2B788B;
            --cyan-light: #C3DCE3;

        /*kind of pink*/
            --pink: #A15993;
            --pink-dark: #945069;
            --pink-light: #F2D4DC;

        /*kind of grey*/
            --grey-light: #F6F5F4;
            --grey-medium: #E0E0E0;
            --grey-icon: #BABABA;
            --grey-dark-one:#757575;
            --grey-dark-two: #585858;

        /*single*/    
        --balck: #000000;
        --green: #639B6D;
        --red: #A95151;
        --yellow: #C4A24C;
        --Orange: #CB5B43;

        /*shadows*/
        --shadows:0px 22.8981px 45.7963px -11.4491px rgba(52, 41, 39, 0.08);

    /*Fonts*/

        /*headings*/
            --heading-xxl: 400 56px/56px 'Dela Gothic One';
            --heading-xl: 400  48px/48px 'Dela Gothic One';

            --heading-l-one: 400 32px/32px 'Dela Gothic One';
            --heading-l-two: 400 32px/100% 'Dela Gothic One';

            --heading-m-one: 400 24px/24px 'Dela Gothic One';
            --heading-m-two: 400 24px/100% 'Dela Gothic One';

            --heading-s: 400 20px/100% 'Dela Gothic One';
            --heading-xs: 400 16px/100% 'Dela Gothic One';

        /*text*/
            --body-xxl: 600 18px/25px 'Arial';

            --body-xl-one: 600 16px/22px 'Arial';
            --body-xl-two: 600 16px/100% 'Arial';

            --body-l-one: 600 14px/20px 'Arial';
            --body-l-two: 600 14px/140% 'Arial';

            --body-m-one: 600 12px/17px 'Arial';
            --body-m-two: 600 12px/140% 'Arial';
            --body-m-three: 600 12px/100% 'Arial';

            --body-s: 600 10px/100% 'Arial';
        
        
        /*button*/
            --button-l: 700 18px/25px 'Arial';
            --button-m: 700 16px/22px 'Arial';
            --button-s: 700 14px/100% 'Arial';
            --button-xs: 700 12px/100% 'Arial';

        /*links*/
            --link-one: 16px/20px 'Arial';
            --link-two: 14px/20px 'Arial';
    /*Padding*/
        --padding-lateral:40px 20px 0 20px;
        --padding-header: 9px 20px;

        --padding-footer-up-down: 40px 0;
        --padding-footer: 0 0 0 40px;
        
        --padding-buttom:12px 20px;
        
        --padding-sprint-size: 84px 30px 14px 30px;
        --padding-audio-call-size: 84px 45px 14px 45px;
    /*Gap*/
        --gap-main-info-block:20px;
        --gap-footer-list: 16px;
    /*Margin*/
        --margin-center: 0 auto;
    /*wigth*/
        --line-width: 80%; 
    }

/*general style*/
    a{
        text-decoration:none;
    }
    li{
        list-style: none;
    }
/*heder*/
    .site-navigation{
        position: relative;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        box-sizing:border-box;

        background-color: var(--grey-light);
        padding: var( --padding-header);
        border-bottom: 1px solid var(--grey-medium);
    }
    .menu-list-icon{
        display: flex;
        align-items: center;

        color: var(--balck);
        font:var(--heading-m-two);
    }
    .logo-title{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        color: var(--balck);
        font: var(--heading-xs);
        margin: var(--margin-center);
    }
    .user-account{
        font:var(--body-m-three);
    }
    .user-account-link{
        display: flex;
        justify-content: center;
        align-items: flex-end;

        gap: 4px;
    }
    .user-name, .profile-list-icon{
        align-self: center;

        color: var(--grey-dark-one);
    }
    .user-name{
        font: var(--body-m-one);
    }
    .profile-list-icon{
        font: var(--body-l-two);
    }
/*main-info*/
.main-info-list{
    display: flex;
    justify-content: center;
    flex-direction:column;

    margin: var(--margin-center);
}
.main-info-block{
    text-align: center;
    display: flex;
    flex-direction: column;

    gap: var(--gap-main-info-block);
    padding: var(--padding-lateral);
}
.odd{
    background-color:var(--grey-light);
}
.main-info-list{
    display: flex;
    justify-content: center;
    flex-direction:column;

    margin: var(--margin-center);
}
.main-info-list:last-child{
    padding: 0 0 40px 0;
}
.main-info-block-text{
    display: flex;
    flex-direction: column;

    gap: 12px;
}
.meaning-platform{
    font: var(--button-xs);
    color: var( --cyan-dark);
}
.block-main-title{
    font: var(--heading-l-two);
}
.block-title{
    font: var(--heading-m-two);
}
.block-description{
    font:var( --body-m-one);
    color: var(--grey-dark-one);
}
.main-info-block-buttom{
    padding: var(--padding-buttom);
}
.block-buttom{
    border-radius: 100px;
    box-sizing: border-box;


    font: var(--button-s);
    color: var(--cyan-dark);
    padding: var(--padding-buttom);
    background-color: var(--cyan-light);
}
.main-info-block-learning-points{
    display: flex;
    justify-content: center;
    
    gap: 40px;
}
.popular-word, .mini-games{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.popular-words-number-info,.mini-games-number-info{
    font: var(--heading-s);
}
.popular-words-icon, .mini-games-icon{
    color:var(--cyan-dark);
    font: var(--heading-s);
}
.popular-words-plus, .mini-games-plus{
    color:var(--cyan-dark);
}
.popular-words-name, .mini-games-name{
    color: var(--grey-dark-two);
}
.points-divider{
    border-left:1px solid var(--grey-medium);
}
.main-info-block-game-points-conteiner{
    padding: 4% 0 0 0;
}
.main-info-block-game-points{
    display: flex;
    justify-content: space-around;

    padding: 20px 0 40px 0;
}
.sprint, .audio-call{
    position: relative;  
}
.sprint-img{
    position: absolute;
    right: 0;
    top: -25%;
}
.sprint-name {
    border-radius: 14px;

    padding: var(--padding-sprint-size);
    font: var(--button-s);
    background-color: var(--pink-light);
    color: var(--pink-dark);
}
.sprint-name-arrow{
    font: var(--button-s);
    color: var(--pink-dark);
}
.audio-call-name{
    border-radius: 14px;

    padding: var(--padding-audio-call-size);
    font: var(--button-s);
    background-color: var(--cyan-light);
    color: var(--cyan-dark);
}
.audio-call-name-arrow{
    font: var(--button-s);
    color: var(--cyan-dark);
}
.audio-call-img{
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
/*footer*/
    .footer{
        display: flex;
        flex-direction: column;
        
        gap: var(--gap-main-info-block);
        background-color: var(--grey-light);
        padding: var(--padding-footer-up-down);
    }
    .footer-navigation{
        display: flex;

        gap: 115px;
        padding: var(--padding-footer);
    }
    .footer-navigation-site-page, .footer-navigation-tutors{
        display: flex;
        flex-direction: column;

        gap: var(--gap-footer-list);
    }
    .site-page-component, .tutors-component{
        font: var(--body-m-three);
        color: var(--grey-dark-one);
    }
    .line {
        border-bottom: 1px solid var(--grey-medium);
        align-self: center;

        width: var(--line-width);
    }
    .social-networks{
        display: flex;
        justify-content: center;
        
        gap: 31px;
    }
    .github, .gt, .youtube{
        color: var(--grey-icon);
        font: var(--heading-l-one);
    }
    .company-info{
        text-align: center;

        font: var(--body-s);
        color: var(--grey-dark-one);
    }
    .globaltalk-link{
        text-decoration-line:underline;

        font: var(--body-s);
        color: var(--grey-dark-one);
    }
/*menu_page*/
.site-menu{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
    .site-menu-blok{
        display: flex;
        justify-content: center;
        flex-direction: column;

        gap: 31px;
    }
    .site-menu-blok-components{
        text-align: center;
    }
    .site-menu-blok-components-link{
        font:  var( --body-xl-two);
        color: var(--grey-dark-one);
    }
    .site-menu-blok-components-link.active{
        color: var(--cyan-dark);
    }